@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

:root{
    --cor0:#F3F5FC;
    --cor1: #D8DFE8;
    --cor2: #0A3871;
}

body{
    background-color: var(--cor0);
    font-family: 'Inter';
}

header{
    margin: auto;
    padding: 10px;
    width: 90%;
    height: 50px;
}

header > h1{
    text-align: right;
    color: var(--cor2);
    font-weight: 500;
}

.logo{
    float: left;
}

/*Entrada de dados*/

.linha{
    display: flex;
    width: 90%;
    height: 800px;
    margin: auto;
}

.coluna-esquerda{
    flex: 75%;
}

.coluna-direita{
    position: relative;
    flex: 25%;
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
}

.campo-de-texto{
    width: 95%;
    height: 90%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    resize: none;

    font-family: 'Inter';
    font-size: 1.5em;
    color: #0A3871;

    outline: none;
    background-color: var(--cor0);
    border: 0px solid white;
}

.comandos{
    position: absolute;
    left: 6%;
}

.aviso{
    font-size: small;
    margin-bottom: 5px;
}

.codificar{
    color: white;
    background-color: var(--cor2);
    border: 1px solid var(--cor2);
    border-radius: 50px;
    padding: 10px;
    width: 150px;
    text-align: center;
    display: inline-block;
}

.codificar:hover{
    background-color: var(--cor1);
    color: var(--cor2);
    cursor: pointer;
}

.decodificar{
    color: var(--cor2);
    background-color: var(--cor1);
    border: 1px solid var(--cor2);
    border-radius: 50px;
    padding: 10px;
    width: 150px;
    text-align: center;
    display: inline-block;
}

.decodificar:hover{
    background-color: var(--cor2);
    color: white;
    cursor: pointer;
}

/* Saida de dados*/

.sem-mensagem{
    position: absolute;
    top: 40%;
}


#saida{
    width: 95%;
    height: 90%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    resize: none;

    font-family: 'Inter';
    font-size: 1.5em;
    color: #0A3871;

    outline: none;
    /*background-color: red;*/
    border: 0px solid white;
    border-radius: 50px 50px 0px 0px;
    display: none;
}


.copiar{
    color: var(--cor2);
    background-color: white;
    border: 1px solid var(--cor2);
    border-radius: 50px;
    padding: 10px;
    width: 150px;
    text-align: center;
    display: none;
}

.copiar:hover{
    background-color: var(--cor2);
    color: white;
    cursor: pointer;
}

/*Footer*/

footer{
    padding: 10px;
    text-align: center;
    font-weight: 400;
}